

body {
  font-family: "open sans", sans-serif;
  background-image: url(../image/Off-white-background-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 1024px;
}
header {

  background-image: url(../image/header-background.jpg);
  background-repeat: repeat;
  height: fit-content;
  position: relative;
}

#header-img1{
  position:absolute;
  height: 100px;
  top: -30px;
  animation-name: a1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}
@keyframes a1 {
  from {
    left: 80%;
  }
  to {
    left: 30%;
  }
}

#header-img2{
  position:absolute;
  height: 70px;
  top: -5px;
  animation-name: a2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}
@keyframes a2 {
  from {
    left: 80%;
  }
  to {
    left: 45%;
  }
}

#header-img3{
  position:absolute;
  height: 80px;
  top: -0px;
  animation-name: a3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}
@keyframes a3 {
  from {
    left: 80%;
  }
  to {
    left: 63%;
  }
}



h1 {
  position: relative;
  text-align: center;
  font-size: 28px;
  color: #f9086d;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 16px;
  line-height: 34px;
}

main,
footer {
  margin-left: 10px;
}

#footericon{
  color: #ed4190;
}


h1::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 200px;
  height: 2px;
  background-color: rgb(206, 255, 27);
  transform: translateX(-50%);
}

h2 {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #f9086d;
  font-size: 24px;

  font-weight: 300;
  line-height: 28px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #f9086d;
  font-size: 20px;

  font-weight: 300;
  line-height: 24px;
}

p {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

main div div ul li,
main div div ol li {
  font-size: 20px;
}

#logo {
  margin-left: 10px;
  margin-top: 10px;
  height: 36px;
}

.taskbar {
  display: grid;
  grid-template-areas: " navigation navigation navigation search-bar";
  align-self: flex-end;
  margin: 20px 0 0 0;
}

.navigation {
  grid-area: navigation;
  /* background: linear-gradient(90deg, #fdac98, #f4cb96); */
  padding: 2px 0;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin-left: 2%;
  width: 80%;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 2%;
}

.navigation ul li {
  border-radius: 5px;
  box-shadow: #00000054 0px 0px 5px;
  text-align: center;
  margin-bottom: 5px;
  background: hsla(0, 0%, 100%, 0.541);
  cursor: pointer;

  padding: 5px 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #ed4190;
  font-size: 17px;
  transition: all 0.3s ease;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  
}




/* Hiệu ứng phóng to nhẹ */
.navigation ul li:hover {
  
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background-color: #ed4190;
  color: #fff;
  
}
.navigation ul li a:hover {
  color: #fff;
}

.search-bar {
  grid-area: search-bar;
  border: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  gap: 10px;
}
/* Base styles for the search box */
.search-box {
  
  width: 100%;
  max-width: 150px;
  left: 0px;
}

.search-box input {
  width: 100%;
  height: 50%;
  left: 0;
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 5px auto;
}

/* Hover effect */
.search-box input:hover {
  border-color: #007bff;
  box-shadow: 0 6px 8px rgba(0, 123, 255, 0.2);
}

/* Focus effect */
.search-box input:focus {
  border-color: #28a745;
  box-shadow: 0 8px 10px rgba(40, 167, 69, 0.3);
  background: #f9f9f9;
}

/* Placeholder animation */
.search-box input::placeholder {
  color: #aaa;
  transition: color 0.3s ease;
}

.search-box input:focus::placeholder {
  color: #007bff;
}

.search-icon {
  margin-left: 20px;
  cursor: pointer;
  height: 38px;
}

/* footer */
.scroll-to-top {
  transition: transform 0.3s ease-in-out; /* Tạo hiệu ứng di chuyển */
}

.scroll-to-top img {
  width: 55px;
  height: auto;
  cursor: pointer; /* Thêm dấu hiệu con trỏ chuột */
  position:absolute; right: 5px; top: 5px;
}

/* Hiệu ứng khi hover hoặc khi nút hiển thị */
.scroll-to-top:hover {
  transform: scale(1.1); /* Làm to nút khi hover */
}

/* Cải thiện hiệu ứng cuộn trang */
html {
  scroll-behavior: smooth; /* Tạo hiệu ứng cuộn mượt mà */
}


footer {
  border: solid 1px #ccc7c8;
  border-radius: 5px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 2px;
}
footer div {
  flex: 1;
  margin: 20px;
  padding-right: 55px;
  text-align: center;
}






/* trangchu */

.paragraph{
  display: flex;
}
#yogurt{
  width: 30%; 
  height:fit-content;
}
#yogurtvd{
  width: 30%; 
  height:fit-content;
}

#guide{
  display: flex;
}
#guide div{
  width: 50%; 
  height:fit-content;
}


.order {
  display: flex;
  justify-content: space-between;
}

.order > div {
  width: 24%;
  text-align: center;
  border: 1px solid #f9086d;
  margin-right: 5px;
  padding-top: 10px;
}

.order > div img {
  width: 50%;
}
.order > div p {
   margin: 0;
}


/* gioithieu */

.gioithieu {
  display: grid;
  grid-template-areas: "article article article aside";
  border: #5b585852 solid;
  border-radius: 10px;
  margin-top: 5px;
  border-width: 1px;
}

.gioithieu article {
  grid-area: article;
}

.gioithieu aside {
  grid-area: aside;
}



/* sanpham */

.items-bar {
  display: grid;
  grid-template-areas: "item1 item2 item3";
  gap: 10px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item1,
.item2,
.item3 {
  display: flex;
  flex-direction: column;

  height: 100%; /* Hoặc chiều cao cố định nếu cần */
  border: 2px solid #ccc; /* (Không bắt buộc) để dễ nhìn */
  border-radius: 20px;
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều cao */
  background-color: #fff;
}

.item1 img,
.item2 img,
.item3 img {
  margin: 0 auto;
  width: 55%;
}
.item1 h2,
.item2 h2,
.item3 h2 {
  text-align: center;
}

.item-value {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(221, 216, 118, 1) 100%
  );

  margin-top: auto;
}

.item-value p {
  margin: 15px 0 0 0;
  padding: 10px;
  text-align: center;
}

/* tintuc */

.tintuc {
  display: grid;
  grid-template-areas: "aside article article article";
  border: #5b585852 solid;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 5px;
  gap: 20px;
}

.tintuc article {
  
  grid-area: article;
  margin: 10px;
}

.tintuc aside {
  grid-area: aside;
  margin: 10px;
}
.tintuc aside h2,
.tintuc aside p {
  text-align: justify;
}



/* gopy */


#gopyform > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input , textarea, select{
  flex: 1;
  /* Ô nhập liệu tự động giãn theo độ rộng */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 300px;
}




/* dangki, dang nhap */

.form {
  width: 40%; 
  margin:0 auto;
}


.form form div{
  display: flex;
  align-items: center;
}

label p {
  text-align: center;
  margin-left: 5px;
}


@media screen and (max-width: 768px) {


  .navigation {
    margin-left: 2%;
  }
  

  .navigation ul li a {
    font-size: 10px;
    font-weight: bold;
  }
  #search,
  #buy {
    width: 15px;
  }
  #buy {
    position: relative;
    margin-left: 5px;
  }
  #guide{
    display: block;
    
  }
  #guide div{
    width: 100%;
  }
  
  /* trangchu */

  .paragraph{
    display: block;
    text-align: center;
  }
  .paragraph p{
    display: block;
    text-align: left;
  }
  #yogurt{
    width: 50%; 
  }
  #yogurtvd{
    width: 50%; 

  }






  /* gioithieu */
  .gioithieu {
    grid-template-areas: "article" "aside";
  }


  /* tintuc */
  .tintuc {
    grid-template-areas: "article" "aside";
  }

  .tintuc div img {
    width: 100%;
    height: auto;
  }



  /* dangki */
  .form {
    width: 70%;
  }


}





/* Đơn hàng */

table {
  width: 100%;
}

table, td, th {
    border: solid 1px black ;
    
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}



.container{
  position:fixed;
  border: 1px solid red;
  border-radius: 5px;
  padding:0 5px;
 
  overflow:hidden;
  background-color: white;
  box-shadow: 0 0 2px 0 #ffffff;
  }
  .adsvercontainer
  {
  left:0;
  top:10px;
  height:300px;
  width: 200px;
  }
  .adsvertext{white-space:wrap;}
  .adstext{
  position:absolute;
  left:5px;
  }
  .adshorcontainer
  { bottom:50px;
  height:50px;
  width: 500px;
  }
  .adshortext{white-space: nowrap;}