/* .header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(108, 144, 210);
    width: 100%;
    height: 40px;
}

.form{
    margin: 20px auto;
    display: block;
    width: fit-content;
}

.form > label{
    display: inline-block;
    width: 100px;
}

label[for="quequan"]{
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.form input {
    margin-bottom: 10px;;
} */
 



































.header{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;

}

.form {
    width: fit-content;
    margin: 20px auto;
}


.form > label{
    display: inline-block;
    width: 100px;
}


.form label[for="quequan"]{
    position: relative;
    bottom: 15px;
}

input {
    margin-bottom: 10px;
}





