* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;


}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}



hr {
    border: 2px solid #333;
    margin: 20px 0;
}


main {
    padding: 20px;
}


.container {

    margin: 0;
    padding: 20px;
}

@media (min-width: 769px) {
    .container {
        margin: 0 auto;
        max-width: 80%;
    }

}



header {

    background: #333;
    color: #fff;

}

header .logo {
    display: flex;
    justify-content: space-between;

}

header .menu-icon {
    width: 50px;
    height: 50px;

}

header .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header .navbar {
    align-content: center;
}

header .navbar ul {
    margin-bottom: 0;
}

header .navbar ul li {
    display: inline;

}


header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: bold;

}

header .navbar ul li a:hover {
    background: #cac8c8;
    transition: all 0.3s ease-out;
    transform: scale(1.01);
    color: #241e1e;
}


header .navbar ul li a.active {
    background: #cac8c8;
    color: #241e1e;
    transform: scale(1.01);
}

@media (min-width: 769px) {
    .logo .menu-icon {
        display: none;
    }

}


@media (max-width: 768px) {
    .logo .menu-icon {
        display: block;
    }

    .navbar {
        display: none;

    }

    .navbar.active {
        display: block;
    }


}


@media (max-width: 1200px) {
    header .container {
        flex-direction: column;
    }

    header .navbar ul {
        margin: 0;
        padding: 5px;
        display: grid;
        width: 100%;

    }

    header .navbar ul li {
        margin: 0;
        text-align: center;
    }

    header .navbar ul li a {
        display: block;
        padding: 10px 0;
    }


}




@media (min-width: 769px) and (max-width: 1200px) {
    header .navbar ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    header .navbar ul {
        grid-template-columns: repeat(1, 1fr);
        border: 1px solid #e3d9d9;
        border-radius: 5px;
    }

}


#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

#footer  h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
#footer a, #footer  li{
    margin: 5px 0;
}


.footer-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
    display: block;

}

.social-icon .fa-facebook-square {
    color: #1877F2;
}

.social-icon .fa-twitter-square {
    color: #1DA1F2;
}

.social-icon .fa-instagram-square {
    color: #E4405F;
}

.social-icon .fa-youtube-square {
    color: #FF0000;
}



@media screen and (min-width: 768px) {

    .footer-nav {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* index */



.hero {
    background: #f4f4f4;
    padding: 25px 0;
    text-align: center;
    grid-area: hero;

}



.movie-list {
    text-align: center;
}


.featured-movies {
    grid-area: featured-movies;
    padding: 20px 0;
}

.showing-now {
    grid-area: showing-now;
    padding: 20px 0;
}

.ads-sidebar {
    grid-area: ads-sidebar;
    padding: 20px 0;

}


.ads-sidebar div {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.ads-sidebar .ads-pic {
    width: 45%;
    height: auto;
    background-color: lightblue;
    margin: 10px;
}



@media screen and (min-width: 768px) {

    #trangchu #main-content {
        display: grid;
        grid-template-areas: "hero hero hero"
            "left-aside featured-movies ads-sidebar"
            "left-aside showing-now ads-sidebar";

        grid-template-columns: 15% 70% 15%;
    }

    .featured-movies {
        grid-area: featured-movies;
    }

    .showing-now {
        grid-area: showing-now;
    }

    .ads-sidebar {
        grid-area: ads-sidebar;
    }

    .ads-sidebar div {
        flex-direction: column;
    }

    .ads-sidebar .ads-pic {
        width: 100%;
    }

}



/* register + login */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0px 10% 0px;
}

.form-box {
    position: relative;
    width: 500px;
    background-color: #f5f5f5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    width: 100%;
    padding: 40px;
    height: 100%
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 36px;
    margin: 10px 0;
    border-color: #75b798;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 5px;
    padding: 4px 4%;
    font-size: 16px;
}



.input-form-icon {
    width: 1em;
    height: 1em;
}

.input-icon {
    display: inline;
    position: absolute;
    right: 10%;
}

.form-label {
    margin-bottom: 0.5rem;
}

.alr-have-acc {
    align-items: center;
    justify-items: center;
}

.alr-have-acc p a {
    color: rgb(32, 32, 32);
    font-weight: bold;
    text-decoration: none;
}

.alr-have-acc p a:hover {
    text-decoration: underline;
}

.btn {
    margin: 10px 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #383333;
}

.genderOp {
    display: flex;
    gap: 20px;
}

.login {
    margin: 5% 0;
}

@media (max-width: 740px) {
    .form-container {
        margin: 15% 30px;
    }
}

.input-box.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-mess {
    color: red;
    font-size: 15px;
    margin-top: 4px;
}


/* product */

@media (max-width: 768px) {
    .phim_Product {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 2px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        width: 150px;
        height: 230px;
    }

    .aSectionPhim {
        display: inline-block;
    }

    .img_Product {
        height: 100%;
        width: 100%;
        border-radius: 10%;
        transition: opacity 0.3 ease;
    }

    .NutDatHang {
        background-color: #d08ea200;
        color: black;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        border: white solid 1px;
        z-index: -1;
    }

    .Cart_mobile {
        text-align: center;
        color: white;
        position: absolute;
        top: 30%;
        left: 15%;
        display: none;
    }

    .container_img {
        border-radius: 10%;
        position: relative;
        height: 180px;
        width: 147px;
        background-color: rgba(0, 0, 0, 0.707)
    }

    .container_img:hover .img_Product {
        opacity: 0.1;
    }

    .container_img:hover .Cart_mobile {
        display: flex;
    }

    .container_img:hover .NutDatHang {
        color: rgb(227, 227, 76);
        z-index: 1;
    }

    #div_ContentAndImgProduct {
        display: inline-block;
        text-align: center;
    }

    #main_Product {
        width: 100%;
    }




    .div_Content {
        padding-top: 5px;
        height: 20px;
        width: 200px;
        display: none;
    }

    #div_Content td {
        font-size: 10px;
    }

    .name_movie {
        height: 80px;
        width: 50px;
        font-size: 15px;
        display: inline;
        color: rgb(39, 8, 8);
    }

    #TieuDe {
        font-size: 40px;
        margin-bottom: 30px;
        font-weight: bold;
        text-align: left;
        border-bottom: solid black;
    }


    .div_Icon {
        position: absolute;
        bottom: 2%;
        display: none;
    }

    .Heart {
        position: relative;
        color: black;
        right: 5%;
        font-size: 25px;
    }

    .Cart {
        position: relative;
        left: 120px;
        color: rgb(165, 112, 27);
        font-size: 25px;
    }



    #choose_type {
        text-align: center;
        /* margin: 10px; */
    }

    #The_Loai {
        height: 30px;
        width: 120px;
        border: 1px solid #9f9f9f;
        border-radius: 5px;
    }

    #thoi_luong {
        height: 30px;
        width: 160px;
        border: 1px solid #9f9f9f;
        border-radius: 5px;
    }

    #Chon {
        height: 31px;
        border: 1px solid #9f9f9f;
        border-radius: 5px;
        background-color: white;
    }

    #aside {
        display: none;
    }

    #BoLoc {
        margin: 10px;
    }
}



@media (min-width: 768px) and (max-width:999px) {
    .movie-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) and (max-width:1299px) {
    .movie-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) and (max-width:1400px) {
    .movie-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
    .movie-list {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    .phim_Product {
        width: 210px;
    }
}




@media (min-width:769px) {


    .phim_Product {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 2px;
        border-radius: 8%;

    }

    .img_Product {
        border: solid black 5px;
        border-radius: 5%;
        width: 200px;
        height: 230px;
        display: block;
        margin: 5% auto;
        object-fit: cover;
    }


    .aSectionPhim {
        border: solid black 2px;
        border-radius: 20px;
        display: inline-block;
        margin: 5px 5px 15px;

        background-color: rgba(80, 80, 82, 0.151);
    }

    #main_Product img,
    #trangchu img {
        transition: transform 0.3s ease;
    }

    #main_Product img:hover,
    #trangchu img:hover {
        transform: scale(1.05);
    }

    #div_ContentAndImgProduct {
        display: inline-block;
        text-align: center;
        grid-area: center;
    }

    #aside {
        grid-area: right;
    }

    #choose_type {
        grid-area: left;
    }

    #main_Product {

        display: grid;
        grid-template-areas:
            "left center right";
        grid-template-columns: 10% 80% 10%;
    }



    .div_Content td {
        text-align: left;
        font-size: 15px;
    }

    .div_Content {
        height: 100px;
        padding-left: 5%;
    }


    .name_movie {
        display: inline;
        color: rgb(39, 8, 8);
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    #TieuDe {
        font-size: 40px;
        margin-bottom: 30px;
        font-weight: bold;
        border-bottom: solid black;
        text-align: left;


    }

    .div_Icon {
        position: relative;
        bottom: 8px;
    }

    .Heart {
        position: relative;
        right: 25%;
        color: black;
        font-size: 35px;
    }

    .Cart {
        position: relative;
        left: 25%;
        color: rgb(165, 112, 27);
        font-size: 35px;
    }


    #The_Loai {
        width: 15%;
        min-width: 150px;
        height: 40px;
        margin: 0 auto;
        font-size: 18px;
        border: 1px solid #9f9f9f;
        border-radius: 5px;
        display: inline;
        text-align: center;
    }

    #thoi_luong {
        width: 15%;
        min-width: 150px;
        height: 40px;
        font-size: 18px;
        margin: 0 auto;
        border: 1px solid #9f9f9f;
        border-radius: 5px;
        text-align: center;
        display: inline;
    }

    #Chon {
        margin: 0 auto;
        height: 41px;
        width: 80px;
        border: 1px solid #9f9f9f;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        background-color: white;
    }

    #BoLoc {
        margin-bottom: 25px;
    }

    .NutDatHang {
        display: none;
    }
}




/* about */

#gioithieu {
    max-width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    #gioithieu {
        max-width: 100%;
    }

}



#gioithieu h1 {
    color: black;
    text-align: left;
    font-size: 40px;
    margin: 0 20px;
}

.box {
    padding: 20px;
    max-width: 100%;
    display: flex;
    justify-items: center;
    margin: auto;
}

.text_gioithieu {
    text-indent: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8;
}

#video_gioithieu {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 16/9;
}

@media (max-width: 600px) {
    .box {
        padding: 5px;
    }
}

.container_gallery {
    display: grid;
    grid-template-areas: "topleft topright"
        "botleft botright";
    justify-items: center;
    gap: 10px;

}

@media (max-width: 1024px) {
    .container_gallery {
        grid-template-areas: "topleft"
            "topright"
            "botleft"
            "botright";
    }
}

.image1 {
    box-shadow: 5px 5px #cabfbf;
    width: 100%;
    border-radius: 5px;
    grid-area: topleft;
}

.image2 {
    box-shadow: 5px 5px #cabfbf;
    width: 100%;
    border-radius: 5px;
    grid-area: topright;
}

.image3 {
    box-shadow: 5px 5px #cabfbf;
    width: 100%;
    border-radius: 5px;
    grid-area: botleft;
}

.image4 {
    box-shadow: 5px 5px #cabfbf;
    width: 100%;
    border-radius: 5px;
    grid-area: botright;
}

ul {
    list-style-type: none;
}

.fa-star {
    display: inline-block;
    font-size: 20px;
    animation: led_rgb 2s infinite alternate;
}

@keyframes led_rgb {
    0% {
        color: red;
    }

    50% {
        color: green;
    }

    100% {
        color: blue;
    }
}

/* contact */

#lienhe {
    max-width: 100%;
}

@media (min-width: 768px) {
    #lienhe {
        max-width: 80%;
        margin: auto;
    }
}

.box_lienhe {
    grid-template-areas: "left right";
    display: grid;
    column-count: 2;
    column-gap: 75px;
}

#lienhe h1 {
    color: black;
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
}

.text_lienhe p {
    line-height: 1.8;
}

.text_lienhe h2 {
    font-size: 30px;
    border-bottom: #241e1e solid 1.8px;
    font-weight: 500;
}

.form_feedback {
    font-size: 16px;
}

@media (max-width: 1024px) {
    .box_lienhe {
        grid-template-areas: "left"
            "right";
    }
}

.form_table {
    padding: 25px;
    box-shadow: #746f6f 1px 1px 10px;
    border-radius: 10px;
    margin: 5px;
}

.form_table h2 {
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
}

.form_table input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form_table textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.button_sub {
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border: none;
    text-align: center;
    display: inline;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn_sub {
    text-align: right;
}

.button_sub:hover {
    background-color: rgb(94, 94, 94);
}


/* cart */

#main_Cart {
    width: 100%;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px) {
    #main_Cart {
        width: 80%;
    }
}

#main_Cart table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    background-color: #eeeeee;
}


#main_Cart thead tr {
    background-color: #c7c7c7;
}


#main_Cart td,
#main_Cart th {


    padding: 20px 10px;
    text-align: center;
    object-fit: cover;
    border-bottom: 2px solid #929292;
}


#main_Cart #movie-table tr:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #c7c7c7;

}

#main_Cart #food-table td:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #c7c7c7;

}

.poster-td {
    width: 30%;
}


.Poster_Cart {
    height: 50%;
    width: 50%;
}

.img_Other {
    height: 100px;
    width: 100px;
}



.total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#main_Cart input[type='number'] {
    border-radius: 5px;
}

#btnXacNhan {
    background-color: #665d5d;
    color: white;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#btnXacNhan:hover {
    background-color: #383333;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

#btnXacNhan:active {
    transform: scale(0.95);
}